@font-face {
  font-family: 'brush_script_mtitalic';
  src: url('brushsci-webfont.woff2') format('woff2'), url('brushsci-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #423E37;
  font-family: "brush_script_mtitalic";
  font-size: 40px;
  text-decoration: none;
}

a:hover {
  color: #6E675F;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #EDEBD7;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
}

.change {
  -ms-transform: rotate(1080deg);
  -webkit-transform: rotate(1080deg);
  transform: rotate(1080deg);
  transition-duration: 7s;
}

.contentBox1 {
  background-color: none;
  position: relative;
  padding: 176px 0 100px 0;
  width: 100%;
  z-index: 0;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.contentBox2 {
  background-color: #6E675F;
  position: relative;
  border-top: 3px solid #423E37;
  border-bottom: 3px solid #423E37;
  width: 100%;
  z-index: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.contentBox3 {
  background-color: none;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.divider {
  color: #EDEBD7;
  font-size: 120px;
  position: fixed;
  padding-left: 920px;
  padding-top: 23px;
}

.emailForm {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.emailForm iframe {
  width: 100%;
}

.focusedFace {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .focusedFace {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .emailForm {
    width: 375px;
  }
}

.portfolioTitle {
  font-family: "brush_script_mtitalic";
  color: #EDEBD7;
  font-size: 100px;
  width: 100%;
  text-align: center;
}

.portItems {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  min-height: 500px;
}

@media only screen and (min-width: 900px) {
  .portItems {
    width: 50%;
    padding: 0 50px;
  }
}

.topBox {
  height: auto;
  background-color: #E3B23C;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  border-bottom: 3px solid #423E37;
}

.headerContainer {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 2px auto -11px auto;
}

.signContainer {
  position: relative;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 415px;
  float: left;
}

.sign {
  height: auto;
  width: 100%;
  max-width: 415px;
  box-sizing: border-box;
}

.smiling {
  position: absolute;
  bottom: 16%;
  left: 7%;
  width: 29%;
  height: auto;
}

.topBoxLinks {
  display: none;
  width: 100%;
}

.headerLinks {
  display: none;
}


/* Tablet And Up*/

@media only screen and (min-width: 900px) {
  .headerContainer {
    padding: 0 80px;
  }
  .signContainer {
    width: 415px;
  }
  .headerLinks {
    display: inline;
    width: calc(100% - 415px);
    height: 100%;
    float: left;
    padding-left: 170px;
    box-sizing: border-box;
    padding-top: 12px;
    text-align: center;
  }
  #links {
    box-sizing: border-box;
    display: block;
    padding: 0 25px;
  }
}

@media only screen and (min-width: 1100px) {
  .headerLinks {
    padding-top: 61px;
  }
  #links {
    box-sizing: border-box;
    display: inline;
  }
}

.topBoxLinks2 {
  position: fixed;
  padding-left: 995px;
  padding-top: 60px;
}

#aboutMeText {
  font-family: "Courier New";
  color: #6E675F;
  font-size: 22px;
  width: 100%;
  padding: 0 15px;
  margin-top: 5%;
  text-align: center;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}

@media only screen and (min-width: 900px) {
  #aboutMeText {
    width: 50%;
    padding: 0 80px;
  }
}

#aboutMeTitle {
  font-family: "brush_script_mtitalic";
  font-size: 80px;
  width: 100%;
  color: #423E37;
  text-align: center;
}

#battleshipDesc {
  margin-top: 270px;
  position: absolute;
  margin-left: 1015px;
  width: 350px;
  font-family: "Courier New";
  font-size: 20px;
  text-align: center;
  color: #E3B23C;
}

#battleshipTitle {
  margin-top: 245px;
  position: absolute;
  margin-left: 1080px;
  font-family: "brush_script_mtitalic";
  font-size: 30px;
  color: #EDEBD7;
}

#bwwmcDesc {
  margin-top: 270px;
  position: absolute;
  margin-left: 540px;
  width: 350px;
  font-family: "Courier New";
  font-size: 20px;
  text-align: center;
  color: #E3B23C;
}

#bwwmcTitle {
  margin-top: 245px;
  position: absolute;
  margin-left: 570px;
  font-family: "brush_script_mtitalic";
  font-size: 30px;
  color: #EDEBD7;
}

#contactTitle {
  font-family: "brush_script_mtitalic";
  font-size: 80px;
  color: #423E37;
  text-align: center;
}

#focused {
  height: 200px;
  width: auto;
}

.headshotContainer {
  float: left;
  width: 100%;
  padding: 0 15px;
  margin-top: 7%;
  box-sizing: border-box;
  overflow: hidden;
}

#headshot {
  background-image: url(assets/many_faces/IMG_6775.png);
  background-size: cover;
  background-position: center;
  border: 5px solid #423E37;
  height: 80vw;
  width: 80vw;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .headshotContainer {
    width: 50%;
    padding: 3%;
  }
  #headshot {
    height: 35vw;
    width: 35vw;
  }
}

@media only screen and (min-width: 1000px) {
  #headshot {
    height: 400px;
    width: 400px;
  }
}

#logos {
  width: 42px;
  height: 42px;
  padding: 10px;
}

.portImage {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.portImage img {
  width: 100%;
  height: auto;
  border: 3px solid #E3B23C;
  border-radius: 10px;
  box-sizing: border-box;
}

#portDesc {
  font-family: "Courier New";
  font-size: 20px;
  color: #E3B23C;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#portTitle {
  font-family: "brush_script_mtitalic";
  font-size: 35px;
  color: #EDEBD7;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}


/* color codes for page:
darker grey/brown: #423E37
Goldish: #E3B23C
Cream/White: #EDEBD7
Light rosey grey: #A39594
Lighter grey: #6E675F
E675F
E675F
F

F

F
